<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">
	<!-- Survey ResultMap -->
	<resultMap type="com.survey.example.domain.Question" id="QuestinMap">
		<result property="qNum" column="q_num"></result>
		<result property="qTitle" column="q_title"></result>
		<result property="qContent" column="q_content"></result>
	</resultMap>
	
	<select id=""
</mapper>