<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.survey.example.mapper.BoardMapper">
	<!-- Survey ResultMap -->
	<resultMap type="com.survey.example.domain.Survey" id="SurveyMap">
		<result property="sNum" column="s_num"></result>
		<result property="sTitle" column="s_title"></result>
		<result property="sContent" column="s_content"></result>
		<result property="sViews" column="s_views"></result>
		<result property="sDatetime" column="s_datetime"></result>
	</resultMap>
	
</mapper>